{% extends './base.html' %}

{% block title %}Home{% endblock %}

{% block body %}
<h3>Bienvenido al BACKEND de Pet Shop Gruopo 13, {{ current_user.fullname }}</h3>

<h1 class="text-center mt-5 mb-5 text-primary">TPF  Python-Flask-MySQL  GRUPO 13</h1>

    <div class="container">
        <div class="card shadow">
            <div class="card-body">
                <form action="/user" method="POST">
                    <div class="row mb-3">
                        <div class="col">
                            <label>Username</label>
                            <input type="text" class="form-control mb-3" name="username">
                        </div>
                        <div class="col">
                            <label>Name</label>
                            <input type="text" class="form-control mb-3" name="name">
                        </div>
                        <div class="col">
                            <label>Password</label>
                            <input type="text" class="form-control mb-3" name="password">
                        </div>
                        <div class="col">
                            <button class="btn btn-primary mb-3 mt-4" type="submit">Save</button>
                        </div>
                    </div>

                </form>


                <!-- Tabla -->

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Username</th>
                            <th scope="col">Name</th>
                            <th scope="col">Password</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Delete</th>
                        </tr>
                    </thead>
                
                <tbody>
                    {% for d in data %}
                        <tr>
                            <td>{{d.id}}</td>
                            <td>{{d.username}}</td>
                            <td>{{d.fullname}}</td>
                            <td>{{d.password}}</td>
                            <td><button class="btn btn-primary btn-sm" id="btn-edit{{d.id}}" data-bs-toggle="modal" data-bs-target="#modal{{d.id}}">Edit</button></td>
                            <td><a href="{{url_for('delete', id=d.id)}}" class="btn btn-danger btn-sm">Delete</a></td>
                        </tr>

                        <!-- modal -->

                        <div class="modal fade" id="modal{{d.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h1 class="modal-title fs-5" id="exampleModalLabel">{{d.username}}</h1>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form action="/edit/{{d.id}}" method="post">
                                        <label>Username</label>
                                        <input type="text" class="form-control mb-3" name="username" value="{{d.username}}">
                                        <label>Name</label>
                                        <input type="text" class="form-control mb-3" name="name" value="{{d.fullname}}">
                                        <label>Password</label>
                                        <input type="text" class="form-control mb-3" name="password" value="{{d.password}}">
                                  
                                </div>
                                <div class="modal-footer">
                                  <button type="submit" class="btn btn-primary">Save changes</button>
                                </div>
                                </form>
                              </div>
                            </div>
                          </div>




                    {% endfor %}

                </tbody>

            </table>

        
            </div>
        </div>
    </div>


    <a class="btn btn-secondary" href="{{ url_for('home') }}">Admin_Contactos</a>
    <a class="btn btn-secondary" href="{{ url_for('logout') }}">Logout</a>
{% endblock %}